/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

/* Variables */

$color-one-blue: #0097e6;
$color-two-green: #33d9b2;
$color-three-red: #ff5252;
$font-color-white: #ffffff;
$font-color-dark-blue: #2c2c54;

$font-text:'Inconsolata', monospace;
$font-header: 'Signika', sans-serif;

body {
margin: 0;
font-size: 16px;
line-height: 1.7;
font-family: $font-text;
color:white;
}

.container {
max-width: 1140px;
padding: 0 20px 0 20px;
text-align: center;
}

section {
padding: 96px 0 96px 0;
}

/* SPLASH */
.splash {
    position: relative;
    background-image: url('https://via.placeholder.com/1140x800.png');
}
.splash h1{
font-weight: bold;
}
.logo   {
    font-size: 20px;
    position: absolute;
    margin-top: -75px;
    margin-left: -320px;
    color: yellow;
}
.splash ul {
    list-style-type: none;
    position: absolute;
    margin-left: 580px;
    margin-top: -75px;
    font-size: 18px;
}
.splash li{
    display: inline;
}
button{
    background-color: yellow;
    border: none;
    border-radius: 3%;
    height: 40px;
    width: 120px;
    font-size: 16px;
}

/* SERVICES */
.services   {
color: black;
text-align: center;
}
.services h2    {
font-weight: bold;
}
.services-icon   {
font-size: 50px;
color:yellow;
}
/* PORTFOLIO */
.portfolio  {
    color: black;
    text-align: center;
    background-color:LightGrey ;
}
.portfolio h1{
    font-weight: bold;
}
.card   {
}